body{
    height:100%;
    width:100%;
    margin:0px;
    font-family: "Roboto";
    background-color: #F9F9F9;
    font-size: 12px;
}
.container{
    display:grid;
    grid-template-areas: 'left-tab right-tab ';
    grid-template-columns: auto auto;
    height:100vh;
    width:100%;
}

.left-tab{
    grid-area: left-tab;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
}

/*--------------------------------------------------------------------------------------------*/

.right-tab{
    grid-area: right-tab;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
}

.card{
    height:80%;
    width:70%;
    background-color: #FFFFFF;
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.25), -12px -12px 30px #EDFFF0;
}

.card-row-1{
    height:15%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:3%;
}

.card-row-1-input{
    background: #E9E9E9;
    height: 40%;
    border:0px;
    width:60%;
    margin:2%;
    font-size: 1em;
    padding-left:1%;
}

.card-row-1-button-add{
    background: #69E2DB;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25), -3px -3px 10px rgba(134, 230, 251, 0.7);
    height: 40%;
    border:0px;
    width:20%;
    font-size: 0.8em;
}

.card-row-2{
    height:13%;
    width:100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.card-row-2-button-sortName{
    height: 40%;
    border:0px;
    width:22%;
    background: #69E299;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25), -1px -1px 10px rgba(105, 226, 153, 0.7);
    margin-right:2%;
    margin-left:3%;
    font-size: 0.8em;
}

.card-row-2-button-sortValue{
    height: 40%;
    border:0px;
    width:23%;
    background: rgb(118, 158, 219);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25), -1px -1px 10px rgba(105, 153, 226, 0.7);
    margin-right:2%;
    font-size: 0.8em;
}

.card-row-2-button-delete{
    height: 40%;
    border:0px;
    width:14%;
    background: #E26970;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25), -1px -1px 10px rgba(226, 105, 112, 0.7);
    margin-right:2%;
    font-size: 0.8em;
}

.card-row-2-button-xml{
    height: 40%;
    border:0px;
    width:13%;
    background: #E29469;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25), -1px -1px 10px rgba(226, 148, 105, 0.7);
    font-size: 0.8em;
}

.card-row-3{
    height:60%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:3%;
}

.card-row-3-textArea{
    width:70%;
    background: #E9E9E9;
    border:0px;
    font-size: 0.9em;
    height:100%;
    resize: none;
}


/*-----------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 800px) {
    body{
        font-size: 8px;
    }
    .container{
        display:grid;
        grid-template-areas: 'left-tab left-tab' 'right-tab right-tab';
        grid-template-rows: 100% 100%;
        height:100vh;
        width:100%;
    }
    .left-tab{
        background-color: red;
    }
    .right-tab{
        background-color: green;
    }
} 
@media screen and (min-width:800px) and (max-width: 1000px) {
    body{
        font-size: 9px;
    }
} 

@media only screen and (min-width: 1080px) {
  body{
      font-size: 12px;
  }
} 
 